@import url('https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Syne Mono', monospace;
    color: #777;
}

html, body {
    margin: 0;
    padding: 0;
}

.nav ul {
    margin: 0;
}

.nav li {
    display: inline;
}

.nav a {
    padding: .5em;
    color: white;
    text-decoration: none;
}

.main-nav {
    text-align: center;
    font-size: 1.1em;
    font-weight: lighter;
    border-bottom: 1px solid rgba(255, 255, 255, .3)
}

.nav a:hover {
    background-color:rgba(255, 255, 255, 0.3)
}

.main-header {
    background-color: rgba(0, 0, 0, 0.6);
    background-image: url(images/bubble.jpg);
    background-position-y: center;
    background-size: cover;
    background-blend-mode: multiply;
    padding-bottom: 30px;
}